<apex:page >
    <link href="{!$Resource.fullCalendarCSS}" rel="stylesheet" />
    <link href="{!$Resource.fullCalendarPrintCSS}" rel="stylesheet" media="print" />
     
    
   
    <script src="{!$Resource.jqueryMin}"></script>
    <script src="{!$Resource.jqueryUi}"></script>
    <script src="{!$Resource.momentMin}"></script>
    <script src="{!$Resource.fullCalendarMinJS}"></script> 
     
    <!--some styling. Modify this to fit your needs-->
    <style>
        #cal-options {float:left;}
        #cal-legend { float:left;}
        #cal-legend ul {margin:0;padding:0;list-style:none;}
        #cal-legend ul li {margin:0;padding:5px;float:left;}
        #cal-legend ul li span {display:block; height:16px; width:16px; margin-right:4px; float:left; border-radius:4px;}
        #calendar {margin-top:20px;}
        #calendar a:hover {color:#fff !important;}
         
        .fc-event-inner {padding:3px;}
        .event-birthday {background:#56458c;border-color:#56458c;}
        .event-campaign {background:#13a7c7;border-color:#cc9933;}
        .event-personal {background:#1797c0;border-color:#1797c0;}

        .planned {background-color:#0404B4 !important;border-color:#56458c;}        
        .completed {background-color:#088A08 !important;border-color:#1797c0;}
        .open {background-color:#DF0101 !important;border-color:#1797c0;}

    </style>
      <script>
        var currentTimezone = false;
        //We need to wrap everything in a doc.ready function so that the code fires after the DOM is loaded
        $(document).ready(function() {   
            //Call the fullCallendar method. You can replace the '#calendar' with the ID of the dom element where you want the calendar to go. 
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                //defaultView: 'basicWeek',
                //aspectRatio: 1.5, 
                editable: false,
                timezone: currentTimezone,
                events:
                [
                    //At run time, this APEX Repeat will reneder the array elements for the events array
                   
                        {
                            title: 'test',
                            start: 'test',
                            end: 'test',
                            url: 'test',
                            allDay: true,
                            className: 'test',
                            color: 'red'
                        },
                    
                ]
            });
             
        });
     
    </script>
  
       
       
          
            <div id="calendar"></div>
     
</apex:page>